.dashboard-content {
    
    .net-warn {
        --warn-bg-color: 1;
        background-color: rgba(255,228,230,var(--warn-bg-color));
        color: rgba(225,29,72,var(--warn-bg-color));
        border-radius: 1.2rem;
        svg {
            width: 3rem;
            height: 3rem;
        }
    }
    .price-effect {
        background-image: url("../assets/effect.svg");
        background-repeat: no-repeat;
        background-size: 120%;
        background-position: bottom;
        --tw-bg-opacity: 1;
        background-color: rgba(17,20,61,var(--tw-bg-opacity));
        color: white;
        padding: 3rem 5rem;
        height: 100%;
        // min-width: 30rem;
        padding-bottom: 9em;
        .bg-gradient-txt {
            color: transparent;
            --tw-gradient-to: #7f3deb;
            --tw-gradient-from: #f42d9b;
            --tw-gradient-stops: var(--tw-gradient-from),var(--tw-gradient-to,rgba(244,45,155,0));
            background-image: linear-gradient(90deg,var(--tw-gradient-stops));
        }
        .bg-clip-text {
            -webkit-background-clip: text;
        }
    }
    .total-tokens {
        div {
            overflow-wrap: anywhere;
            overflow: hidden;
            padding: 18px 30px;
            .bg-img-opacity {
                position: absolute;
                bottom: -0.75rem;
                right: -0.75rem;
                opacity: .1;
            }
        }
        .bg-gradient-to-r {
            --tw-gradient-to: #fff0ff;
            --tw-gradient-from: #fff0ff;
            --tw-gradient-stops: var(--tw-gradient-from),var(--tw-gradient-to,rgba(255,240,255,0));
            background-image: linear-gradient(90deg,var(--tw-gradient-stops));
        }
    }
}

