.ft-bold {
    font-weight: bold !important;
}
.round-1x5 {
    border-radius: 1.5rem;
}
.ml-4 {
    margin-left: 4px;
}
.text-gray-500{
    color:#8f959b;
}
.text-purple-300{
    color: #564d81;
}
.wrap-anywhere {
    overflow-wrap: anywhere;
}