$navbar-brand-color:  rgb(0, 0, 0);
$menu-bg-color: #fff;
$menu-svg-fill: rgba(17,20,61,.4705882353);
$menu-active-svg-fill: rgba(218,49,174,1);
$menu-hamburger-area: #706464;
$mb-close-bg: rgb(85, 82, 82);
$mb-menu-bg: #fff;
$mb-menu-a-color: rgb(46, 44, 44);
$mb-menu-svg-color: rgba(17,20,61,.4705882353);
$warn-bg-color: rgba(255,228,230);
$warn-color: rgba(225, 29, 71, 0.952);
body {
    overflow-y: hidden;
    overflow-x: hidden;
}
.dark {
    background-color: #22233a ;
    color: #fff ;
}
.light {
    background-color: #fff;
    color: #000;
}
.app-container {
    flex: 17;
    .main-content {
        height: 90vh;
        overflow: scroll;
        
        .net-warn {
            background-color: $warn-bg-color;
            color: $warn-color;
            border-radius: 1.2rem;
            svg {
                width: 5rem;
                height: 3rem;
            }
        }
    }
    .navbar {
        --tw-ring-offset-shadow: 0 0 transparent;
        --tw-ring-shadow:  0 0 transparent;
        --tw-shadow: 0 4px 6px -1px rgba(0,0,0,0.1),0 2px 4px -1px rgba(0,0,0,0.06);
        box-shadow: var(--tw-ring-offset-shadow,0 0 transparent),var(--tw-ring-shadow,0 0 transparent),var(--tw-shadow);
        padding: 1rem 2rem !important;
        .container {
            border-radius: 10px;
            max-width: 1416px;
            .hamburger-area {
                border-right: 1px solid $menu-hamburger-area;
                .btn-hamburger {
                    z-index: 10;
                }
            }
            .navbar-brand {
                color: $navbar-brand-color;
            }
            .nav-link {
                padding: 0.5rem 16px;
                --tw-border-opacity: 1;
                border: 1px solid rgba(229,229,229,var(--tw-border-opacity));
            }
            .btn-hamburger {
                background: unset;
                border: unset;
                color:rgb(0, 0, 0);
                padding: 0px;
                padding-right: 12px;
                svg {
                    width: 2rem;
                    height: 2rem;
                }
            }
        }
    }
}
.menu-content {
    background: $menu-bg-color;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: scroll;
    z-index: 3;
    .menubar {
        svg {
            width:2.3em !important;
            height: 2.3em !important;
            fill: $menu-svg-fill;
        }
        .active {
            svg {
                fill: $menu-active-svg-fill !important
            }
        }
    }
}
.mobile-menu {
    height: 100vh;
    z-index: 300;
    .menu-close-area {
        z-index: 50;
        .btn-close {
            background:unset;
            border: unset;
            color: $mb-close-bg;
        }
    }
    .mobile-menu-area {
        background: $mb-menu-bg;
        overflow-y: scroll;
        overflow-x: hidden;
        z-index: 30;
        flex: 6 !important;
        .menubar {
            a {
                text-decoration: none;
                color: $mb-menu-a-color;
                display:flex;
                align-items: center;
                flex-direction: row;
            }
            svg {
                width:2.3em !important;
                height: 2.3em !important;
                fill: $mb-menu-svg-color;
            }
            .active {
                svg {
                    fill: rgba(218,49,174,1) !important
                }
            }
        }
    }
}
.dark {
    nav {
        background-color: #22233a !important;
        color: #fff !important;
        .navbar-brand {
            $navbar-brand-color: #fff;
            color: $navbar-brand-color !important;
        }
        .hamburger-area {
            $menu-hamburger-area: #fff;
            border-right-color: $menu-hamburger-area !important;
            .btn-hamburger {
                z-index: 10;
                svg {
                    fill: #fff !important;
                }
            }
        }
    }

    .net-warn {
        $warn-bg-color: rgba(254,205,211);
        background-color: $warn-bg-color;
        color: rgba(136,19,55);
        svg {
            fill:  rgba(190, 46, 77, 0.952);               
        }
    }
    .menu-content {
        $menu-bg-color: #22233a;
        background: $menu-bg-color;
        .menubar {
            svg {
                $menu-svg-fill: rgb(255, 255, 255);
                fill: $menu-svg-fill;
            }
            .dark-mode-activate {
                svg {
                    fill: #ff683a;
                }
            }
        }
    }
    .mobile-menu {
        .menu-close-area {
            .btn-close {
                $mb-close-bg: #fff;
                color: $mb-close-bg;
            }
        }
        .mobile-menu-area {
            $mb-menu-bg: rgba(27,28,48);
            background: $mb-menu-bg;
            .menubar {
                a {
                    $mb-menu-a-color: #fff;
                    color: $mb-menu-a-color;
                }
                svg {
                    $mb-menu-svg-color: #fff;
                    fill: $mb-menu-svg-color;
                }
            }
        }
    }
}

.main-content::-webkit-scrollbar {
    width: 5px;
    background-color: transparent;
  }

/* Track */
.main-content::-webkit-scrollbar-track {
    background: transparent; 
}

/* Handle */
.main-content::-webkit-scrollbar-thumb {
    background: #008ae8;
}

/* Handle on hover */
.main-content::-webkit-scrollbar-thumb:hover {
    background: #008ae8; 
}