@use 'customButton';
$dark-bg-color: #0b1217 ;
$dark-div-bg: rgb(20 32 40);
$dark-div-border: #2c4250;
$navbar-brand-color:  rgb(0, 0, 0);
$dark-nav-bg: #070d10;
$menu-bg-color: #fff;
$menu-svg-fill: rgba(17,20,61,.4705882353);
$menu-active-svg-fill: customButton.$btn-bg-color;
$menu-hamburger-area: #706464;
$mb-close-bg: rgb(85, 82, 82);
$mb-menu-bg: #fff;
$mb-menu-a-color: rgb(46, 44, 44);
$mb-menu-svg-color: rgba(17,20,61,.4705882353);
$warn-bg-color: rgb(229 183 65 / 85%);
$warn-color: #fff;
body {
    overflow-y: hidden;
    overflow-x: hidden;
}
.dark {
    background-color: $dark-bg-color !important;
    color: #fff ;
}
.light {
    background-color: #fff;
    color: #000;
}
.app-container {
    flex: 17;
    font-family: Kanit, sans-serif !important;
    .main-content {
        height: 90vh;
        overflow: scroll;
        
        .net-warn {
            background-color: $warn-bg-color;
            color: $warn-color;
            border-radius: 1.2rem;
            svg {
                width: 5rem;
                height: 3rem;
                fill: rgb(255 200 0 / 95%);
            }
        }
    }
    .navbar {
        --tw-ring-offset-shadow: 0 0 transparent;
        --tw-ring-shadow:  0 0 transparent;
        --tw-shadow: 0 4px 6px -1px rgba(0,0,0,0.1),0 2px 4px -1px rgba(0,0,0,0.06);
        box-shadow: var(--tw-ring-offset-shadow,0 0 transparent),var(--tw-ring-shadow,0 0 transparent),var(--tw-shadow);
        padding: 1rem 2rem !important;
        .container {
            border-radius: 10px;
            max-width: 1416px;
            .hamburger-area {
                border-right: 1px solid $menu-hamburger-area;
                .btn-hamburger {
                    z-index: 10;
                }
            }
            .navbar-brand {
                color: $navbar-brand-color;
            }
            .nav-link {
                padding: 0.5rem 16px;
                border: 1px solid customButton.$btn-bg-color;
            }
            .btn-hamburger {
                background: unset;
                border: unset;
                color:rgb(0, 0, 0);
                padding: 0px;
                padding-right: 12px;
                svg {
                    width: 2rem;
                    height: 2rem;
                }
            }
        }
    }
}
.menu-content {
    background: $menu-bg-color;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: scroll;
    z-index: 3;
    .menubar {
        svg {
            width:2.3em !important;
            height: 2.3em !important;
            fill: $menu-svg-fill;
        }
        .active {
            svg {
                fill: $menu-active-svg-fill !important
            }
        }
    }
}
.mobile-menu {
    position: fixed;
    width: 100%;
    height: 100%;
    --menu-bg-opacity: .4;
    background: rgb(58, 60, 61, var(--menu-bg-opacity));
    z-index: 300;
    overflow-y: scroll;
    overflow-x: hidden;

    .mobile-menu-area {
        width: 300px;
        height: 100%;
        background: $mb-menu-bg;
        z-index: 30;
        flex: 6 !important;
        .menu-close-area {
            z-index: 50;
            .btn-close {
                background:unset;
                border: unset;
                color: $mb-close-bg;
            }
        }
        .menubar {
            a {
                text-decoration: none;
                color: $mb-menu-a-color;
                display:flex;
                align-items: center;
                flex-direction: row;
            }
            svg {
                width:2.3em !important;
                height: 2.3em !important;
                fill: $mb-menu-svg-color;
            }
            .active {
                svg {
                    fill: $menu-active-svg-fill !important;
                }
            }
        }
    }
}
.dark {
    nav {
        background-color: $dark-nav-bg !important;
        color: #fff !important;
        .navbar-brand {
            $navbar-brand-color: #fff;
            color: $navbar-brand-color !important;
        }
        .hamburger-area {
            $menu-hamburger-area: #fff;
            border-right-color: $menu-hamburger-area !important;
            .btn-hamburger {
                z-index: 10;
                svg {
                    fill: #fff !important;
                }
            }
        }
    }

    .net-warn {
        $warn-bg-color: rgba(254,205,211);
        background-color: $warn-bg-color;
        color: rgba(136,19,55);
        svg {
            fill:  rgba(190, 46, 77, 0.952);               
        }
    }
    .menu-content {
        background: $dark-nav-bg;
        .menubar {
            svg {
                $menu-svg-fill: rgb(255, 255, 255);
                fill: $menu-svg-fill;
            }
            .dark-mode-activate {
                svg {
                    fill: #ff683a;
                }
            }
        }
    }
    .mobile-menu {
        .mobile-menu-area {
            $mb-menu-bg: $dark-nav-bg;
            background: $mb-menu-bg;
            .menu-close-area {
                .btn-close {
                    $mb-close-bg: #fff;
                    color: $mb-close-bg;
                }
            }
            .menubar {
                a {
                    $mb-menu-a-color: #fff;
                    color: $mb-menu-a-color;
                }
                svg {
                    $mb-menu-svg-color: #fff;
                    fill: $mb-menu-svg-color;
                }
                .dark-mode-activate {
                    svg {
                        fill: #ff683a;
                    }
                }
            }
        }
    }
}

.main-content::-webkit-scrollbar {
    width: 5px;
    background-color: transparent;
  }

/* Track */
.main-content::-webkit-scrollbar-track {
    background: transparent; 
}

/* Handle */
.main-content::-webkit-scrollbar-thumb {
    background: #888888;
}

/* Handle on hover */
.main-content::-webkit-scrollbar-thumb:hover {
    background: #888888; 
}