@use 'layout';
$light-gray-color: rgb(213 214 225);
$dark-blue-color: rgb(17, 20, 61);
.stake-content {
    background: layout.$dark-bg-color;
    .stake-area {
        border: 1px solid #80808038;
        .token-staking {
            div {
                flex: 1;
                border: 1px solid layout.$dark-div-border;
                color: $light-gray-color;
                cursor: pointer;
                p {
                    letter-spacing: 0.7px;
                }
            }
            div.active {
                color: rgba(0, 255, 34, 0.863);
            }
            div:hover {
                position: relative;
                top: -4px;
            }
        }
        .token-detail {
            background-color: layout.$warn-bg-color;
            color: layout.$warn-color;
        }
        .lock-period {
            div {
                border: 1px solid layout.$dark-div-border;
                cursor: pointer;
                color: $dark-blue-color;
                p {
                    margin: 0 !important;
                    font-weight: bold;
                }
                p:nth-child(2) {
                    color: #fff;
                }
                p.active {
                    color: rgba(0, 255, 34, 0.863) !important;
                }
            }
            div:hover {
                position: relative;
                top: -4px;
            }
        }
        .staking-amount {
            .token-amount-preview {
                div {
                    border: 1px solid layout.$dark-div-border;
                    button {
                        background-color: layout.$dark-bg-color;
                        border: 0;
                        bottom: 1px;
                        top: 1px;
                        width: 3rem;
                        opacity: .65;
                        z-index: 1;
                    }
                    button::before {
                        background-color: $light-gray-color;
                        content: "";
                        position: absolute;
                        top: 50%;
                        transform: translate(-50%,-50%);
                        transition: background-color .15s;
                        height: 1px;
                        width: 18px;
                    }
                    button:nth-child(3)::after {
                        background-color: $light-gray-color;
                        content: "";
                        position: absolute;
                        top: 50%;
                        transform: translate(-50%,-50%);
                        transition: background-color .15s;
                        width: 1px;
                        height: 18px;
                    }
                    input[type=number] {
                        border: 0;
                        border-left: 1px solid layout.$dark-div-border;
                        border-right: 1px solid layout.$dark-div-border;
                        background-color: layout.$dark-bg-color;
                        color: #fff;
                    }
                    input[type=number]:focus-visible {
                        outline: unset;
                    }
                }
                button {
                    right: 3.5rem;
                    background: none;
                    height: 100%;
                    font-weight: 900;
                    font-size: 18px;
                }
            }
            .token-amount-control {
                border: 1px solid layout.$dark-div-border;
                border-top: none;
                input[type=range] {
                    -webkit-appearance: none;
                    margin-right: 15px;
                    width: 100%;
                    height: 7px;
                    background: rgb(175 168 168 / 60%);
                    border-radius: 5px;
                    background-image: linear-gradient(#10b981, #10b981);
                    background-repeat: no-repeat;
                }
                /* Input Thumb */
                input[type=range]::-webkit-slider-thumb {
                    -webkit-appearance: none;
                    height: 17px;
                    width: 17px;
                    border-radius: 50%;
                    background: #fff;
                    cursor: grab;
                    box-shadow: 0 0 2px 0 #555;
                    transition: background .3s ease-in-out;
                }
            }
            .token-buy {
                border: 1px solid layout.$dark-div-border;
                border-top: none;
                button {
                    background: none;
                    height: 100%;
                    font-weight: 900;
                    font-size: 18px;
                }
            }
            .stake-btn {
                letter-spacing: .3px;
                font-size: 20px;
                padding: 10px 0px;
            }
        }
    }
    .free-token {
        background-color: layout.$dark-div-bg;
        color: #fff;
    }
}